body {
  background-color: black;
  color: white;
}

header {
}

main {
  background-color: white;
  color: black;
}

footer {
}

a {
  color: white;
}

main.home {
  background-color: transparent;
}

main.portfolio {
  background-color:#FF4081;
  color: white;
}


header.me_html {
  background-color:#91A8D0;
}

header.portfolio_html {
  background-color:#F7786B;
}

header.portfolio {
  background-color:#263238;
}

header.aha {
  background-color:#263238;
}

header.blog_html {
  background-color:#B18F6A;
}

header.gallery_html {
  background-color:#9896A4;
}

header.contact_html {
  background-color:#f7bbba;
}


.home.navigation_link:hover {
  background-color: white;
  color: black;
}


.me_html.navigation_link:hover {
  background-color: rgb(76, 106, 146);
}

.portfolio_html.navigation_link:hover {
  background-color: rgb(185, 58, 50);
}



.portfolio.personal_intro .links {
  border-color: white;
}

.portfolio.personal_intro .links a:hover {
  color: #263238;
  background-color: white;
}



.portfolio.showcase_prev, .portfolio.showcase_next {
  color: white;
}

.portfolio.showcase_prev:hover, .portfolio.showcase_next:hover {
  color: #263238;
}

/*.portfolio.showcase.aha .text .title {
  color: #ff5722 !important;
}*/

.portfolio.dot {
  background-color: white;
}

.portfolio.active, .portfolio.dot:hover {
  background-color: #263238;
}


.blog_html.navigation_link:hover {
  background-color: rgb(216, 174, 71);
}

.gallery_html.navigation_link:hover {
  background-color: #716f7a;
}

.contact_html.navigation_link:hover {
  background-color: rgb(173, 93, 93);
}



.home.navigation_link:focus {
  background-color: white;
  color: black;
}


.me_html.navigation_link:focus {
  background-color: rgb(76, 106, 146);
}

.portfolio_html.navigation_link:focus {
  background-color: rgb(185, 58, 50);
}

.blog_html.navigation_link:focus {
  background-color: rgb(216, 174, 71);
}

.gallery_html.navigation_link:focus {
  background-color: #716f7a;
}

.contact_html.navigation_link:focus {
  background-color: rgb(173, 93, 93);
}
