body {
  background-color: black;
  color: white;
}

header {
}

main {
  background-color: white;
  color: black;
}

footer {
}

a {
  color: white;
}

main.home {
  background-color: transparent;
}

<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> parent of db9e4af... Revert "Major Change 2"
header.me_html {
  background-color: rgb(146, 182, 213);
}

<<<<<<< HEAD
=======
>>>>>>> parent of 7c77ebc... Major Change 2
=======
>>>>>>> parent of 7c77ebc... Major Change 2
=======
>>>>>>> parent of db9e4af... Revert "Major Change 2"
.home.navigation_link:hover {
  background-color: white;
  color: black;
}
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> parent of db9e4af... Revert "Major Change 2"

.me_html.navigation_link:hover {
  background-color: rgb(76, 106, 146);
}
<<<<<<< HEAD

.portfolio_html.navigation_link:hover {
  background-color: rgb(185, 58, 50);
}

.blog_html.navigation_link:hover {
  background-color: rgb(0, 110, 81);
}

.gallery_html.navigation_link:hover {
  background-color: rgb(131, 132, 135);
}

.contact_html.navigation_link:hover {
  background-color: rgb(216, 174, 71);
}
<<<<<<< HEAD
=======
>>>>>>> parent of 7c77ebc... Major Change 2
=======
>>>>>>> parent of 7c77ebc... Major Change 2
=======
>>>>>>> parent of db9e4af... Revert "Major Change 2"
=======
>>>>>>> parent of 30a2a69... Added colorful header for each subpages
