body {
  background-color: black;
  color: white;
}

header {
}

main {
}

footer {
}

a {
  color: white;
}

.AllText {
  background-color: white;
  color: black;
}

.home_navigation:hover {
  background-color: white;
  color: black;
}
