/* Defind fonts based on sections */

body {
  /*background-color: black;*/
  font-family: 'Noto Sans', sans-serif;
}

header {
  font-family: 'Noto Sans', sans-serif;
  font-weight: bold;
}

main {
  font-family: 'Noto Sans', sans-serif;
}

nav {
  font-family: 'Noto Sans', sans-serif;
  font-weight: bold;
}





/* Define fonts based on classes */

.name_on_header {
  font-family: 'Noto Sans', sans-serif;
  font-size: 4vh;
  font-weight: bold;
}

.navigation_link:not(.home):active {
  font-size: 95%;
}

/* Define fonts under certain media query */

/* When height smaller than 800 pixel, fix the footer's font size */
@media (max-height: 800px) {
  nav {
    font-size: 2.25vh;
  }
}

/* When height greater than 1200 pixel, fix the footer's font size */
@media (min-height: 1200px) {
  nav {
    font-size: 1.2vh;
  }
}