footer {
  font-family: 'Noto Sans', sans-serif;
  font-size: 82.5%;
}

.copyright {
  font-family: 'Noto Sans', sans-serif;
  font-size: 1.5vh;
}

.footer_element {
  margin: 1vh 1vw;
  padding: 0;
  display: inline-block;
  position: relative;
}

.copyright {
  position: absolute;
  margin: 4.05vh 0;
  line-height: 1.5vh;
  float: left;
  left: 38vw;
  text-align: center;
}

.footer_list {
  float: right;
  align-content: right;
  right: 6.18vw;
}

.footer_list_element {
  line-height: 1.2vh;
  margin: 1vh 1vw;
}

.social_media {
  margin: 0;
  float: left;
  top: 4.8vh;
  left: 9.12vw;
  transform: translateY(-1.5vh);
}

ul.social_media li {
  display: inline;
  margin: 0 0.618vw;
}

a.social_media_link {
  display: inline-block;
}


.social_media_icon {
  height: 3vh;
  width: 3vh;
  max-height: 9.6vh;
  max-width: 9.6vh;
}


/* Separate the footer elements to different lines when they collide */
@media (max-aspect-ratio: 9/8) {
  .social_media {
    position: absolute;
    top: inherit;
    margin: 9vh 0 0 0;
    float: left;
    left: 37.382vw;
  }

  .footer_list {
    position: absolute;
    top: inherit;
    margin: 15vh 0 4.05vh 0;
    float: left;
    left: 37vw;
  }

  ul.footer_list li {
    display: block;
  }

  a.footer_list_element {
    display: inline;
    text-align: justify;
  }
}

/* When height smaller than 600 pixel, fix the footer's font size */
@media (max-height: 600px) {
  footer {
    font-family: 'Noto Sans', sans-serif;
    font-size: 2.4vh;
  }

  .copyright {
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.5vh;
  }
}

/* When height greater than 1200 pixel, fix the footer's font size */
@media (min-height: 1200px) {
  footer {
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.2vh;
  }

  .copyright {
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.5vh;
  }
}
