body {
  margin: 0;
}

header.home {
  display: block;
  background-image: url("../resources/images/profile/Portrait1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh !important;
  min-width: 100% !important;
}

main {

}

footer {
}

a {
}

.social_media_icon {
  height: 3vh;
  width: 3vh;
  max-height: 9.6vh;
  max-width: 9.6vh;

}
