/* Below define the general element's text */

/* Body section's text */
body {
  text-align: justify;
}

/* Text in Header element */
header {
  min-height: 7.78vh;
}

/* Text in Main element */
main {
  width: 100vw;
  min-height: 92.22vh;
}

/* Text in Footer element */
footer {

}

/* Text in every anchor link */
a {
  text-decoration: none !important;
}

/* Text in every unorder list */
ul {
    list-style-type: none;
}

/* Text in every Navigation element */
nav {
  display: inline-block;
  float: right;
  overflow: hidden;
}



/* Below define the text by class */

header.home {
}

main.home {
  display: block;
  float: left;
  position: absolute;
  top: 0;
  left: 38vw;
  height: 100vh;
  overflow: hidden;
  text-overflow: ellipsis;
}

.home.description {
  position: relative;
  width: 62vw;
  height: 100vh;
  display: none;
}

.description_section {
  position: absolute;
  margin: 0 6.18vw;
  top: 10vh;
}

.home.description_section {
  left: 0;
  margin: 0 6.18vw;
  top: 50vh;
	transform: translateY(-50%);
  visibility: hidden;
}

.home.description_title {
}

.home.description_main_body_element {
  text-align: justify;
}

.logo_with_name{
  display: block;
  position: absolute;
  height: 6.18vh;
  padding: 0.8vh 0.16vw;
  overflow: visible;
  left: 9.12vw;
}

.logo_on_header {
  float: left;
  height: 100%;
  overflow: hidden;
  left: 24%;
}

.name_on_header {
  float: left;
  overflow: hidden;
  height: 100%;
  margin: 0;
  padding: 0 1.6vw;
  overflow: hidden;
  white-space:nowrap;
}

.me_html.navigation, .portfolio_html.navigation, .blog_html.navigation, .gallery_html.navigation, .contact_html.navigation {
  position: relative;
  right: 9.12vw;
  height: 7.78vh;
}

.home.navigation {
  float: left;
  position: relative;
  top: 38vh;
  margin: 0;
  padding: 0;
  width: 38vw;
  min-width: 38vh;
  max-width: 38vw;
  height: 62vh;
}

.me_html.navigation_link, .portfolio_html.navigation_link, .blog_html.navigation_link, .gallery_html.navigation_link, .contact_html.navigation_link {
  display: inline-block;
  position: relative;
  margin: 0;
  min-width: 6.18vw;
  height: 100%;
  line-height: 7.78vh;
  top: 3.89vh;
  transform: translateY(-50%);
  text-align: center;
}

.home.navigation_link {
  display: block;
  text-indent: 9.12vw;
  height: 10vh;
  white-space:nowrap;
  visibility: visible !important;
}

.footer_element {
  margin: 1vh 1vw;
  padding: 0;
  display: inline-block;
  position: relative;
  height: 100%;
}

.copyright {
  margin: 4.05vh 0;
  line-height: 1.5vh;
  float: left;
  left: 38vw;
  text-align: center;
}

.footer_list {
  float: right;
  align-content: right;
  right: 6.18vw;
}

.footer_list_element {
  line-height: 1.2vh;
  margin: 1vh 1vw;
}



/* Define fonts under certain media query */

/* Separate the footer elements to different lines when they collide */
@media (max-aspect-ratio: 9/8) {
  .footer_element {
    clear: both;
  }
}

/* Deal with navigation bar issue when resizing */
@media (max-aspect-ratio: 11/10) {
  .me.logo_with_name, .portfolio_html.logo_with_name, .blog_html.logo_with_name, .gallery_html.logo_with_name, .contact_html.logo_with_name {
    display: none;
  }

  .me_html.navigation, .portfolio_html.navigation, .blog_html.navigation, .gallery_html.navigation, .contact_html.navigation {
    width: 100vw;
    left: 0;
    right: 0;
  }

  .me_html.navigation_link, .portfolio_html.navigation_link, .blog_html.navigation_link, .gallery_html.navigation_link, .contact_html.navigation_link {
    width: 16vw;
  }
}

/* Deal with navigation bar issue when resizing */
@media (max-aspect-ratio: 2/3) {
  .me.logo_with_name, .portfolio_html.logo_with_name, .blog_html.logo_with_name, .gallery_html.logo_with_name, .contact_html.logo_with_name {
    display: none;
  }

  .me_html.navigation, .portfolio_html.navigation, .blog_html.navigation, .gallery_html.navigation, .contact_html.navigation {
    display: none;
  }
}
