/* Below define the general element's text */

/* Body section's text */
body {
  text-align: justify;
}

/* Text in Header element */
header {
  min-height: 7.78vh;
}

/* Text in Main element */
main {
  min-height: 100vh;
}

/* Text in Footer element */
footer {

}

/* Text in every anchor link */
a {
  text-decoration: none !important;
}

/* Text in every unorder list */
ul {
    list-style-type: none;
}

/* Text in every Navigation element */
nav {
  display: inline-block;
  float: right;
  overflow: hidden;
}



/* Below define the text by class */

header.home {
}

header:not(.home .header) {
  position: fixed;
  width: 100%;
  z-index: 99;
}

header.portfolio {
  display: block;
  float: left;
  position: absolute;
  top: 0;
  left: 0vw;
  width: 38.2vw;
  height: 100vh;
  overflow: hidden;
  text-overflow: ellipsis;
}

main.portfolio {

}

main.home {
  display: block;
  float: left;
  position: absolute;
  top: 0;
  left: 38vw;
  height: 100vh;
  overflow: hidden;
  text-overflow: ellipsis;
  display: none;
}

main:not(.home) {

}

/*
.home.description {
  position: relative;
  width: 62vw;
  height: 100vh;
}
*/
.description_section {
  position: absolute;
  margin: 0 6.18vw;
  top: 10vh;
}
/*
.home.description_section {
  left: 0;
  margin: 0 6.18vw;
  top: 50vh;
	transform: translateY(-50%);
  visibility: hidden;
}

.home.description_title {
}

.home.description_main_body_element {
  text-align: justify;
}
*/
.logo_with_name{
  display: block;
  position: absolute;
  height: 6.18vh;
  padding: 0.8vh 0.16vw;
  overflow: visible;
  left: 9.12vw;
}

.logo_on_header {
  float: left;
  height: 100%;
  overflow: hidden;
  left: 24%;
}

.name_on_header {
  float: left;
  overflow: hidden;
  height: 100%;
  margin: 0;
  padding: 0 1.6vw;
  overflow: hidden;
  white-space:nowrap;
}

.portfolio.personal_intro {
  float: left;
  position: relative;
  top: 19.1vh;
  left: 7.3vw;
  margin: 0;
  padding: 0;
  width: 23.6vw;
  max-width: 38.2vw;
  height: 61.8vh;
}

.portfolio.personal_intro .title {
  height: 23.6vh;
  overflow: hidden;
}

.portfolio.personal_intro .title .name {
  display: inline-block;
  margin: 0;
}

.portfolio.personal_intro .title .logo {
  position: relative;
  display: inline-block;
  float: right;
  height: 3.24em;
}

.portfolio.personal_intro .body {
  height: 38.2vh;
}

.portfolio.showcase {
  display: inline-block;
  float: left;
  position: absolute;
  top: 19.1vh;
  left: 50vw;
  width: 38.2vw;
  height: 80.9vh;
  overflow: visible;
}

.portfolio.showcase .image {
  display: inline-block;
  float: left;
  /*position: relative;*/
  max-height: 61.8vh;
  max-width: 19.1vw;
}

.portfolio.showcase .text {
  display: inline-block;
  float: right;
  max-height: 80.9vh;
  max-width: 14.6vw;
  overflow: hidden;
}

.navigation:not(.home .portfolio) {
  position: relative;
  top: 0;
  right: 9.12vw;
  height: 7.78vh;
}

.home.navigation {
  float: left;
  position: relative;
  top: 38vh;
  margin: 0;
  padding: 0;
  width: 38vw;
  min-width: 38vh;
  max-width: 38vw;
  height: 62vh;
}

.portfolio.navigation {
  float: left;
  position: relative;
  top: 38vh;
  margin: 0;
  padding: 0;
  width: 38vw;
  min-width: 38vh;
  max-width: 38vw;
  height: 62vh;
}

.navigation_link:not(.home .portfolio) {
  display: inline-block;
  position: relative;
  margin: 0;
  min-width: 6.18vw;
  height: 100%;
  line-height: 7.78vh;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}

.home.navigation_link {
  display: block;
  text-indent: 9.12vw;
  height: 10vh;
  white-space:nowrap;
  visibility: visible !important;
}

.portfolio.navigation_link {
  display: block;
  text-indent: 9.12vw;
  height: 10vh;
  white-space:nowrap;
  visibility: visible !important;
}

.footer_element {
  margin: 1vh 1vw;
  padding: 0;
  display: inline-block;
  position: relative;
}

.copyright {
  position: absolute;
  margin: 4.05vh 0;
  line-height: 1.5vh;
  float: left;
  left: 38vw;
  text-align: center;
}

.footer_list {
  float: right;
  align-content: right;
  right: 6.18vw;
}

.footer_list_element {
  line-height: 1.2vh;
  margin: 1vh 1vw;
}

.social_media {
  margin: 0;
  float: left;
  top: 4.8vh;
  left: 9.12vw;
  transform: translateY(-1.5vh);
}

ul.social_media li {
  display: inline;
  margin: 0 0.618vw;
}

a.social_media_link {
  display: inline-block;
}



/* Define fonts under certain media query */

/* Separate the footer elements to different lines when they collide */
@media (max-aspect-ratio: 9/8) {
  .social_media {
    position: absolute;
    top: inherit;
    margin: 9vh 0 0 0;
    float: left;
    left: 37.382vw;
  }

  .footer_list {
    position: absolute;
    top: inherit;
    margin: 15vh 0 4.05vh 0;
    float: left;
    left: 37vw;
  }

  ul.footer_list li {
    display: block;
  }

  a.footer_list_element {
    display: inline;
    text-align: justify;
  }
}

/* Deal with navigation bar issue when resizing */
@media (max-aspect-ratio: 11/10) {
  .logo_with_name:not(.home) {
    display: none;
  }

  .navigation:not(.home) {
    width: 100vw;
    left: 0;
    right: 0;
  }

  .navigation_link:not(.home) {
    width: 16vw;
  }
}

/* Deal with navigation bar issue when resizing */
@media (max-aspect-ratio: 2/3) {
  .logo_with_name:not(.home) {
    display: none;
  }

  .navigation:not(.home) {
    display: none;
  }

  header:not(.home) {
    display: none;
  }
}
