header p {
    color: black;
    opacity: 0.54;
}

header a {
    color: black;
    opacity: 0.54;
}

header a:hover {
    opacity: 0.87;
}

main {
    color: black;
}

main a {
    color: black;
}

main .main_content {
    opacity: 0.87;
}

main h2.title {
    opacity: 0.87;
}

main h2.title:hover {
    opacity: 1.0;
}

main h6.info {
    opacity: 0.54;
}

.main_content blockquote {
    opacity: 0.62;
}
