header p {
    color: black;
    opacity: 0.54;
}

header a {
    color: black;
    opacity: 0.87;
}

main .main_content {
    color: black;
    opacity: 0.87;
}

main h2.title {
    opacity: 0.87;
}

main h6.info {
    opacity: 0.54;
}