@import url(https://fonts.googleapis.com/earlyaccess/notosanssc.css);

h2 {
    font-family: 'Noto Sans SC', sans-serif;
}

h6 {
    font-family: 'Noto Sans SC', sans-serif;
}

p {
    font-family: 'Noto Sans SC', sans-serif;
}