header {
    position: fixed;
    height: 6.18vh;
    width: 100%;
}

header .navigation {
    height: 3.82vh;
    margin-top: 1.18vh;
    margin-bottom: 1.18vh;
    margin-right: 6.18vw;
}

header .navigation .link {
  display: inline-block;
  vertical-align: middle;
  margin-left: 3.09vw;
  margin-top: 0.618vh;
}

.entry {
    width: 38.2vw;
    margin: auto;
    display: block;
    padding-top: 3.82vh;
    padding-bottom: 3.82vh;
}

.entry {
    text-align: left;
    word-break: break-all;
}

.article_header {
    position: relative;
}

.clickable {
    /*display: block;*/
    width: 100%;
    height: 100%;
    position: absolute;
}

.article_content {
    display: none;
}

.article_content.show {
    display: block;
}

@media only screen and (max-aspect-ratio: 1/1) {
    .entry {
        width: 61.8vw;
    }
}