header {
    position: fixed;
    height: 6.18vh;
    width: 100%;
}

header .navigation {
    height: 3.82vh;
    margin-top: 1.18vh;
    margin-bottom: 1.18vh;
    margin-right: 6.18vw;
}

header .navigation .link {
  display: inline-block;
  vertical-align: middle;
  margin-left: 3.09vw;
  margin-top: 0.618vh;
}

.entry {
    width: 61.8vw;
    margin: auto;
    display: block;
    padding-top: 6.18vh;
    padding-bottom: 6.18vh;
}

.main_content {
    text-align: left;
}